.user.dropdown {
  display: flex;
}
.user.dropdown {
  
  justify-content: center;
  align-items: center;
}
.user.dropdown .infos {
  flex: 1;
  display: flex;
}
.user.dropdown .menu {
  display: none;
  padding: 0;
  gap: 0;
  border-radius: 20px !important;
}
.user.dropdown .menu .item {
  padding: 12px 20px;
  color: white;
}
.user.dropdown .menu .item:hover {
  background: var(--fzbg-1);
  padding: 12px 20px;
}
.user.dropdown button {
  padding: 12px 12px !important;
  border-radius: 10px;
}
.user.dropdown button:hover, .user.dropdown button[data-headlessui-state="open"] {
  background: var(--fzbg-2) !important;
}
.user.dropdown div[role="menu"][data-headlessui-state="open"] > .user.dropdown button {
  background: var(--fzbg-2) !important;
}